<div style="width:90%; margin:0 auto;">
</br>

<% if @users.is_normal_user? || @users.is_gold_user? %>
  <table>
    <tr>
      <td>
        <%= image_tag @users.foto_perfil.url(:min), class:"blockquote" %>
      <td>
      <td colspan="3" rowspan="2">
        <span style="font-size:28px;font-family: Comic Sans MS;color:MidnightBlue"> 
          <strong><%= @users.email %> </strong>
        </span>
      </td>
      <td colspan="3" rowspan="2">
        <% if @users.is_gold_user?%>
          <span style="font-size:14px;font-family: Comic Sans MS;color:#FFDF00">Gold User</span>
          <%=image_tag "gold_user.jpg", size:"25x20"%>
        <% elsif @users.is_normal_user?%>
          <span style="font-size:14px;font-family: Comic Sans MS;color:#FF0080">Normal User</span>
          <%=image_tag "normal_user.png", size:"25x20"%>
        <% end %>
      </td>
      <td colspan="3" rowspan="2">
        <% if user_signed_in? && current_user.is_admin? %>
          <% if @users.may_bloquear?%>
            <strong><%= link_to "Bloquear", "/users/#{@users.id}/bloqueados", class:"btn1 be-blue white", method: :delete %></strong>

          <% elsif @users.may_activar?%>
            <strong><%= link_to "Activar", "/users/#{@users.id}/activos", class:"btn1 be-blue white", method: :put %></strong>
          <% end %>
        <% elsif (user_signed_in? && current_user.is_normal_user?) || (user_signed_in? && current_user.is_gold_user?) %> 
          <% if @users.email != current_user.email %>
            <%= render 'perfil/follow_form' %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render 'perfil/stats' %>
      </td>
    </tr>
  </table>
  </br> </br>


  <div class="row">
    <% @users.posts.each do |post| %>

        <div class="col-md-4 top-space">
          <div class="box relative article-height">
            <div class="absolute article-height background-cover" style= "background:url(<%=post.cover.url(:thumb)%>); top:0px;left:0px; width:100%;">
            </div>

            <div class="absolute article-height background-cover" style= "background:rgba(0,0,0,0.2); top:0px;left:0px; width:100%;">
            </div>

            <div class="relative white text-center text-shadow">
              <h4><%= link_to post.user.email, post %></h4>
            </div>
        </div>
  </div>
    <% end %>
  <% end %>
</div>