<%= form_for([@post, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="width:95%; margin:0 auto;">
    <% if user_signed_in? %>
      <%= f.hidden_field :anonimo, :value => current_user.email %>
    <% else %>
      <div class="field">
        <%= f.text_field :anonimo, placeholder: "Nombre", class:"form-control4" %>
      </div>
    <%end%>

    <% if user_signed_in? %>
      <%= f.hidden_field :tipo_usuario, :value => current_user.permission_level %>
    <% else %>
      <%= f.hidden_field :tipo_usuario, :value => 4 %>
    <%end%>
  
    <div class="field">
      <%= f.text_area :body,placeholder: "Comentario", class:"form-control4" %>
    </div>
    <div class ="actions">
      <%= f.submit "Añadir comentario", class:"btn2 be-blue white large-padding" %>
    </div>
  </div>

<% end %>
