<div style="width:90%; margin:0 auto;">

  <h2>¿Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class:"form-control4"%>
  </div>
  </br>
  <div class="actions">
    <%= f.submit "Enviarme instrucciones para recuperar password", class:"btn2 be-blue white large-padding" %>
  </div>
<% end %>
</br>
<%= render "devise/shared/links" %>
</div>
