 <%= form_for(@amigo) do |f| %>
  <% if @amigo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amigo.errors.count, "error") %> prohibited this amigo from being saved:</h2>

      <ul>
      <% @amigo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :friend_id %><br>
    <%= f.number_field :friend_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js">
  </script>

  <script type="text/javascript">
  //<![CDATA[
    var area1, area2;
    function addArea2() { area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2');}
    function removeArea2() { area2.removeInstance('myArea2'); }
    bkLib.onDomLoaded(function() { toggleArea1(); });
  //]]>
  </script>

<% end %>
