<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  
  <div class="field">
    <%= f.text_field :titulo, placeholder: "Título", class:"form-control" %>
  </div>
 
  <div class="field">
    <%= f.text_area :descripcion, placeholder: "Descripción", style:"height:100px", class:"form-control"%>
  </div>

  <div class="field">
    Foto: <%= f.file_field :cover %>
  </div>
</br>

 
  <p>
    <%= f.submit "Guardar", class:"btn1 be-blue white"%>
  </p>
<% end %>
